@model Client_RealtorAssistant.Models.Realtors

@{
    ViewData["Title"] = "Login";
}

<div class="container">
    <div class="row mt-5">
        <div class="col text-center">
            <h1>Welcome to Realtor Assistant</h1>
        </div>
    </div>
    <div class="row mt-5">
        <div class="col-md-4">
            <form asp-action="RealtorLogin">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="Username" class="control-label"></label>
                    <input asp-for="Username" class="form-control" />
                    <span asp-validation-for="Username" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Password" class="control-label"></label>
                    <input asp-for="Password" class="form-control" type="Password" />
                    <span asp-validation-for="Password" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input type="submit" value="Login" class="btn btn-primary" />
                </div>
            </form>
        </div>

    </div>
    <div class="row mt-3">
        <div class="text-danger">
            @ViewBag.result
        </div>
    </div>
    <div class="row mt-3">
        <div class="col">
            <a asp-action="First" class="btn btn-primary">Back</a>
        </div>
    </div>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}